*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    height: 100%;
    max-width: auto;
    margin: 0;
    
}

.nowrap {
    white-space: nowrap;
}

h1{
    text-align: center;
    background-color: rgb(6, 6, 6);
    padding: 1rem 1rem ;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
}

h2{
    padding: 1rem 1rem;
    text-align: center;
}


.series_details {
    padding: 1rem;
}

.series_summary {
    width: 180px;
    height: auto;
    float: left;
    margin-right: 1rem;
}

.cast_member {
    margin-bottom: 1rem;
}

.cast_member_1 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}

.cast_name {
    margin-right: 10px;
    font-weight: 600;
}


/*desinging the profile pic of every cast member */
.cast_member_1 {
    width: 100px;
    height: 130px;
    border: 1px solid aliceblue;
    border-radius: 50%;
    margin-left: 5px;
    float: right;
}

/*flexing the parent to bring the name in the middel*/
.cast_name{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.series_summary {
    width: 200px;
    height: 300px;
}

.float_left{
    float: left;
    margin-right: 1em;
}

.cast_container {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 0.5em 0.5em;
    font-size: large;
}

@media (min-width : 475px) {
    .container {
        max-width: 475px;
    }
}
@media (min-width : 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width : 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width : 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width : 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width : 1535px) {
    .container {
        max-width: 1536px;
    }
}
